extends base.pug

block scripts 
    script(src="/static/index.js")
block style
    style
      include ../static/style.css
block content 
    
    section#introSection
        div Welcome to Harry's Dance Academy
        div.small Eat Sleep Dance Repeat
    section#sponsorsSection
        h2 Our Sponsors
    
